pipeline/test.json
{
	"name": "test",
	"properties": {
		"activities": [
			{
				"name": "Copy Cows To Staging",
				"description": "Empties the staging nedapcowid and gets the current livestock on hoeve_boveneind",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "execute_refresh_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "AzurePostgreSQLSink",
						"writeBatchSize": 1000000,
						"writeBatchTimeout": "00:30:00",
						"preCopyScript": "truncate staging.nedapcowid\n",
						"writeMethod": "CopyCommand"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['id']"
								},
								"sink": {
									"name": "id",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['condition']"
								},
								"sink": {
									"name": "condition",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['group_id']"
								},
								"sink": {
									"name": "group_id",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['life_number']"
								},
								"sink": {
									"name": "life_number",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['responder1']"
								},
								"sink": {
									"name": "responder1",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['responder2']"
								},
								"sink": {
									"name": "responder2",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['responder3']"
								},
								"sink": {
									"name": "responder3",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['number']"
								},
								"sink": {
									"name": "number",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "['uuid']"
								},
								"sink": {
									"name": "uuid",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['animals']",
						"mapComplexValuesToString": false
					}
				},
				"inputs": [
					{
						"referenceName": "API_GetCows",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "table_staging_nedapcowid",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "For Every Cow",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy Cows To Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "view_staging_CowIDView",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get Facts To Staging",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "For Every Cow",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "start_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "end_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('For Every Cow').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Eating per cow",
							"description": "truncate staging.\"nedapcoweating\"",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:03:00",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['eating_summaries'][0]['animal_id']"
											},
											"sink": {
												"name": "animal_id",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['eating_summaries'][0]['date']"
											},
											"sink": {
												"name": "date",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "$['eating_summaries'][0]['total']"
											},
											"sink": {
												"name": "total",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['eating_summaries'][0]['average']"
											},
											"sink": {
												"name": "average",
												"type": "Int32"
											}
										},
										{
											"source": {
												"path": "$['eating_summaries'][0]['attention']"
											},
											"sink": {
												"name": "attention",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['status']"
											},
											"sink": {
												"name": "status",
												"type": "Int32"
											}
										}
									],
									"collectionReference": "$['day_summaries']"
								}
							},
							"inputs": [
								{
									"referenceName": "API_GetCowEating",
									"type": "DatasetReference",
									"parameters": {
										"id": "@item().id",
										"start_date": {
											"value": "@variables('start_date')",
											"type": "Expression"
										},
										"end_date": {
											"value": "@variables('end_date')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "table_staging_nedapcoweating",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "execute_refresh_token",
				"description": "executes the \"refresh_access_token\" pipeline so we have a fresh access token",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "refresh_acces_token",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "start_date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_date",
					"value": {
						"value": "2022-11-12T00:00:00Z",
						"type": "Expression"
					}
				}
			},
			{
				"name": "end_date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_date",
					"value": {
						"value": "2022-11-09T00:00:00Z",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"start_date": {
				"type": "String"
			},
			"end_date": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-20T14:58:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}