HoeveBoveneindADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "HoeveBoveneindADF"
		},
		"DWH_Hoeve_boveneind_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DWH_Hoeve_boveneind'"
		},
		"New_Postgre_SQL_DWH_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'New_Postgre_SQL_DWH'"
		},
		"errorlogblob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'errorlogblob'"
		},
		"boveneindkeyvaultt_access_token_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://boveneindkeyvault.vault.azure.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/refresh_acces_token')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_auth_code",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "get_refresh_token",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get_client_id",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "get_client_secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://nedap-bi.com/oauth/token",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": {
								"value": "@concat('client_id=',string(activity('get_client_id').output.value),'&client_secret=',string(activity('get_client_secret').output.value),'&grant_type=refresh_token','&refresh_token=',string(activity('get_refresh_token').output.value))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "get_refresh_token",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://boveneindkeyvault.vault.azure.net/secrets/refresh-token?api-version=7.3",
							"method": "GET",
							"headers": {},
							"turnOffAsync": false,
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "get_client_id",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://boveneindkeyvault.vault.azure.net/secrets/client-id?api-version=7.3 ",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "get_client_secret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://boveneindkeyvault.vault.azure.net/secrets/client-secret?api-version=7.3",
							"method": "GET",
							"headers": {},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "update_acces_token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "set access token variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://boveneindkeyvault.vault.azure.net/secrets/access-token?api-version=7.3",
							"method": "PUT",
							"headers": {
								"content-type": "application/json"
							},
							"body": {
								"value": "@concat('{\"value\":', variables('push_access_token'),'}')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "update_refresh_token",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "set refresh token variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://boveneindkeyvault.vault.azure.net//secrets/refresh-token?api-version=7.3",
							"method": "PUT",
							"headers": {
								"content-type": "application/json"
							},
							"body": {
								"value": "@concat('{\"value\":', variables('push_refresh_token'),'}')",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "set refresh token variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get_auth_code",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "push_refresh_token",
							"value": {
								"value": "@concat('\"', string(activity('get_auth_code').output.refresh_token),'\"')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set access token variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get_auth_code",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "push_access_token",
							"value": {
								"value": "@concat('\"','bearer ', string(activity('get_auth_code').output.access_token),'\"')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"refresh_token": {
						"type": "String"
					},
					"access_token": {
						"type": "String"
					},
					"get_authcode": {
						"type": "String"
					},
					"push_access_token": {
						"type": "String"
					},
					"push_refresh_token": {
						"type": "String"
					},
					"start_date": {
						"type": "String"
					},
					"end_date": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-06-24T19:20:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_Hoeve_boveneind')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Datawarehouse hoeve boveneind",
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('DWH_Hoeve_boveneind_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/New_Postgre_SQL_DWH')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "New Postgresql DWH and staging",
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('New_Postgre_SQL_DWH_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/boveneindkeyvaultt_access_token')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('boveneindkeyvaultt_access_token_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/errorlogblob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('errorlogblob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_DWH_cow_behaviour')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Gegevensset.\n\nTabel: cow_behaviour uit postgresql database: dwh_hoeve_boveneind",
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH Hoeve boveneind"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type_of_behaviour",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "duration_behaviour",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "warehouse",
					"table": "cow_behaviour"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_DWH_cow_eating')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Gegevensset.\n\nTabel: cow_eating uit postgresql database: dwh_hoeve_boveneind",
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH Hoeve boveneind"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_eating_time",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "average_eating_time",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attention_needed",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "warehouse",
					"table": "cow_eating"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_DWH_cow_location')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH Hoeve boveneind"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "time",
						"type": "time without time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "x_coordinate",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "y_coordinate",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quality_position",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "warehouse",
					"table": "cow_location"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_DWH_cow_milkings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH Hoeve boveneind"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_error_code_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quarterconductbr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quarterconductbl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quarterconductfl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quarterconductfr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "degreeofrednessbr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "degreeofrednessbl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "degreeofrednessfl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "degreeofrednessfr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nrconnectattemptbr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nrconnectattemeptbl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nrconnectattemeptfl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nrconnectattemptfr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "milkingtimeudderbr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "milkingtimeudderbl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "milkingtimeudderfl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "milkingtimeudderfr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "visitmilkamount",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "lactationdays",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cowage",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "lactationnumer",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "milkingtimetotal",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "warehouse",
					"table": "cow_milkings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_DWH_dim_cow')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH Hoeve boveneind"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "lifenumber",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "leg_responder",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "neck_responder",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cownumber",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nedap_id",
						"type": "bigint",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "start_date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "end_date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "group",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "last_updated",
						"type": "timestamp without time zone",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "warehouse",
					"table": "dim_cow"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_DWH_dim_date')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH Hoeve boveneind"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "date",
						"type": "date",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "day",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "day_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "week",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "iso_week",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "day_of_week",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "month",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "month_name",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quarter",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "year",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "warehouse",
					"table": "dim_date"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_DWH_dim_time')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH Hoeve boveneind"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "time",
						"type": "time without time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "minute",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "hour",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "warehouse",
					"table": "dim_time"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_DWH_leg_activity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH Hoeve boveneind"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_time_lying",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_time_standing",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_time_walking",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_standups",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_steps",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "warehouse",
					"table": "cow_leg_activity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_DWH_neck_activity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DWH Hoeve boveneind"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_neck_movements",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_time_eating",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_time_ruminating",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "warehouse",
					"table": "cow_neck_activity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_processing_cow_behaviour')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "processing"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "type_of_behaviour",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "duration_behaviour",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "processing",
					"table": "cow_behaviour"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_processing_cow_eating')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "processing"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_eating_time",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "average_eating_time",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attention_needed",
						"type": "boolean",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "processing",
					"table": "cow_eating"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_processing_cow_location')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "processing"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "time",
						"type": "time without time zone",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "x_coordinate",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "y_coordinate",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quality_position",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "processing",
					"table": "cow_location"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_processing_cow_milkings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "processing"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_error_code_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quarterconductbr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quarterconductbl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quarterconductfl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "quarterconductfr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "degreeofrednessbr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "degreeofrednessbl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "degreeofrednessfl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "degreeofrednessfr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nrconnectattemptbr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nrconnectattemeptbl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nrconnectattemeptfl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "nrconnectattemptfr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "milkingtimeudderbr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "milkingtimeudderbl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "milkingtimeudderfl",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "milkingtimeudderfr",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "visitmilkamount",
						"type": "double precision",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "lactationdays",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "cowage",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "lactationnumer",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "milkingtimetotal",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "processing",
					"table": "cow_milkings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_processing_leg_activity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "processing"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_time_lying",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_time_standing",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_time_walking",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_standups",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_steps",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "processing",
					"table": "cow_leg_activity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/table_processing_neck_activity')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_Hoeve_boveneind",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "processing"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "dim_cow_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_time_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "dim_date_id",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_neck_movements",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_time_eating",
						"type": "integer",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "total_time_ruminating",
						"type": "integer",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "processing",
					"table": "cow_neck_activity"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_Hoeve_boveneind')]"
			]
		}
	]
}